body {
    font-family: sans-serif;
}

nav {
    position: sticky;
    background-color: rgb(0, 50, 78);
    top: 0px;
}

ul {
    background-color: rgb(0, 50, 78);
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li {
    background-color: rgb(0, 50, 78);
    width: 100px;
    display: inline-block;
    line-height: 30px;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
}

a:hover {
    background-color: rgb(12, 206, 180);
    color: rgb(0, 77, 128);
}

h2 {
    color: #024666;
    font-weight: normal;
    font-size: 35px;
    font-family: impact;
    text-transform: uppercase;
}